@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


  .navbar {
    background-color: #0C1B33;     /* Color de fondo del navbar */
    padding: 10px 20px;              /* Padding interno del navbar */
    border-bottom: 1px solid #000000; /* Línea inferior del navbar */
    box-shadow: 0 20px 30px rgba(10, 9, 9, 0.521); /* Agrega una sombra */
    border: none;
  }
  
  /* Contenedor principal del contenido del navbar */
  .navbar-container {
    display: flex;                 /* Utiliza flexbox para organizar los elementos en una fila */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center;           /* Alinea los elementos verticalmente al centro */
    color: #ffffff;
  }
  
  /* Estilos para el contenedor del nombre */
  .navbar-name h1{
    margin: 0;                     /* Elimina el margen predeterminado */
    margin-left: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }
  
  /* Estilos para el contenedor de las acciones */
  .navbar-actions {
    margin: 0;                     /* Elimina el margen predeterminado */
    margin-right: 50px;
  }

  .navbar-actions p{
    margin: 0;                     /* Elimina el margen predeterminado */
    margin-left: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }
  
  /* Estilos para el botón */
  .btn {
    
    width: 50px;
    height: 50px;
    border: none;                  /* Elimina el borde del botón */
    cursor: pointer;               /* Cambia el cursor al pasar sobre el botón */
    
  }
  
  .btn-danger {
    background-color: #dc3545;     /* Color de fondo para el botón de clase btn-danger */
  }
  
  .btn-danger:hover {
    background-color: #c82333;     /* Color de fondo al pasar el mouse sobre el botón */
  }
  
  /* Bordes redondeados para el botón */
  .rounded-button {
    border-radius: 100%;            /* Hace el botón redondo */
  }
  