.main-section {
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .title-section {
    display: flex;          /* Utiliza flexbox para organizar los elementos en una fila */
    align-items: center;    /* Alinea los elementos verticalmente al centro */
    color: #ffffff;
  }
  
  .title-section h2 {
    margin: 0;              /* Elimina el margen predeterminado del h2 */
    margin-right: 20px;     /* Añade espacio entre el h2 y el botón */
  }
  
  .add-item-button {
    padding: 8px 16px;      /* Padding interno del botón */
    background-color: #03B5AA;  /* Color de fondo del botón */
    color: white;           /* Color del texto del botón */
    border: none;           /* Elimina el borde predeterminado del botón */
    border-radius: 4px;     /* Bordes redondeados del botón */
    cursor: pointer;        /* Cambia el cursor al pasar sobre el botón */
  }
  
  .add-item-button:hover {
    background-color: #1c8f87;  /* Color de fondo del botón al pasar el mouse */
  }

  .navbar-search{
    margin-left: 20px;
  }

  .navbar-search input{
    border: none;
    border-radius: 30px;
    height: 30px;
  }
  